.msgtable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  tr {
    &[data-expanded="false"] {
      border-bottom: 1pt solid #bbb;
    }

    &:last-child {
      border-bottom: none;
    }

    &:nth-child(even of [data-rowtype="row"]) {
      background-color: #f4f4f4;
    }

    &:nth-child(even of [data-rowtype="row"]) + tr[data-rowtype="expansion"] {
      background-color: #f4f4f4;
    }

    th {
      text-align: left;
      background-color: #eee;
      padding: 0.5em 0;

      &:nth-child(1) {
        width: 50px;
      }

      &:nth-child(2) {
        width: 225px;
      }
    }

    td {
      font-family: monospace;

      &:nth-child(3) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
